import React from 'react'

import './<%= props.componentName %>.css'

const <%= props.componentName %> = () => {
  return (
    <div className="<%= props.componentName.toLowerCase() %>__container"><%= props.componentName %></div>
  )
}

export default <%= props.componentName %>